.container {
    padding-top: 40px;
       text-align: center;;
    }
    .btn{
        padding: 0 10px;
    }
    .buttonRecord {
        border-radius: 50%;
        padding: 30px 6px;
        background-color: #ff0000;
    }
    .buttonStop {
        border-radius: 5px; 
        padding: 30px 20px;   
    }
    
    .video {
        min-height: 50%;
        padding-top: 25px;
    }
    
    .buttonHome {
        border-radius: 50%;
        max-width: 80px;
    }
    
    .container__btn {
        display: flex;
        justify-content: center;
    }