.wrapper {
  background-color: rgb(244, 244, 244);
   display: flex;
  justify-content: center;
  
}
.container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
}

.container__left {
  display: flex;
  align-items: center;
}
.container__logo img {
  height: 40px;
}
.container__name{
  font-size: 20px;
  padding-left: 20px;
  align-self: center;
  color:rgb(136, 136, 136);
}
.container__name:hover {
  color: #000;
}
.container__right {
  font-size: 20px;
  padding-left: 20px;
  align-items: center;
  color:rgb(136, 136, 136);
  display: flex;
}
.question {
  padding-right: 20px;
  text-decoration: none;
  color:rgb(136, 136, 136);
}
.button__language {
  display: flex;
}
.language {
  display: flex;
  padding-right: 20px;
  align-self: center;
}

.select {
  background-color: rgb(244, 244, 244);
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color:rgb(136, 136, 136);
  text-align: center;
}
.select:hover {
  background-color: rgb(236, 236, 236);
  color:#000;
}