.container {
    justify-content: center;
    display: flex;
    text-align: center;
}
.button__choice {
    margin: 20px 30px;
}
.button__choice:hover {
    background-color: rgb(186, 186, 186);
    border-radius: 10px;
}
.img {
    width: 200px;

}